body {
    background-color: #C0C0C0;
  }
  
  h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 48px;
    color: #000080;
  }
  
  h2 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 36px;
    color: #154b0e;
  }
  
  h3 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 24px;
    color: #d10000;
  }
  
  p {
    font-size: 18px;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    text-align: center;
  }
  
  .link-list {
    font-size: 16px;
    text-align: center;
  }
  
  .project-list li {
    margin-bottom: 10px;
    text-align: center;
    display: inline;
  }
  
  .footer {
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
  }
  
  .socials-list li {
    display: inline;
    margin-bottom: 10px;
    text-align: center;
  }

  .space-whales {
    width: 100%;
    overflow-x: hidden;
  }
  
  .space-whales .space-whales-gif {
    display: block;
    width: 200px; /* Adjust the width as needed */
    animation: float 10s linear infinite;
  }
  
  @keyframes ani-float-right {
    0% {
      left: -20%;
    }
    100% {
      left: 120%;
    }
  }